@import '@shared/styles/common.scss';
@import '@shared/styles/colors.scss';
@import '@shared/styles/unit.scss';

.off {
    margin-top: 20px;
}

.imgs {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    img {
        width: 300px;
        border-radius: 10px;
    }
    .img {
        text-align: center;
    }
}
