@import '@shared/styles/colors.scss';

.card-container {
    background-color: $primary;
    border-radius: 10px;
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    .head {
        display: flex;
        .preview {
            width: 70px;
        }
    }
    .tags {
        width: 100%;
        display: flex;
        gap: 10px;
    }
    .description {
        color: $text1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
    }
}