$text1: #2F2F2F;
$text2: #777777;

$primary: #FFFFFF;
$secondary: #d8dcfc;
$light-gray: #e4e4e4;
$accent: #EEC5FD;
$success: #31E458;
$error: #f75255;

$background: linear-gradient(to bottom right, $secondary, $primary);