@import '@shared/styles/common.scss';
@import '@shared/styles/colors.scss';
.menu-container {
    @extend .container;
    display: flex;
    flex-direction: column;
    gap: 40px;
    header {
        height: 50px;
    }
    .spoiler {
        color: $text2;
    }
    .units {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .units-text {
            font-weight: 400;
        }
        .items {
            display: flex;
            justify-content: space-between;
            row-gap: 60px;
            flex-wrap: wrap;
        }
    }
    .tests-container {
        width: 100%;
        h2 {font-weight: 400;}
        .items {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .item {
                border-radius: 10px;
                padding: 10px;
                display: flex;
                background-color: white;
                align-items: center;
                gap: 10px;
                .sec {
                    padding-left: 20px;
                    border-right: 1px solid black;
                    padding-right: 20px;
                }
            }
        }
    }
}